[probe]
## Euclid probe is on pin ?? on Huvud
pin: ^!rpi:gpio0             ; ! to invert if needed
x_offset: -45.1             ; probe is offset -45,1mm from nozzle
y_offset: -21.6             ; probe is -21.6mm from nozzle in Y direction
z_offset: 5.00              ; trigger point is 12.15mm below nozzle. larger numbers move effective Z0 CLOSER to the nozzle
speed: 5
samples: 2
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.05
samples_tolerance_retries: 3
lift_speed: 30