[probe]
## Euclid probe is on pin ?? on Huvud
pin: ^rpi:gpio17             ; ! to invert if needed
x_offset: -45.1             ; probe is offset -45,1mm from nozzle
y_offset: -21.6             ; probe is -21.6mm from nozzle in Y direction
z_offset: 0.52375             ; trigger point is 12.15mm below nozzle. larger numbers move effective Z0 CLOSER to the nozzle
speed: 5
samples: 2
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.0075
samples_tolerance_retries: 3
lift_speed: 30

[gcode_macro PROBE_DEPLOY]
description: Påminn om att sätta på proben
gcode:
    RESPOND MSG="⚠ Sätt på Euclid Probe och tryck Resume"
    PAUSE

[gcode_macro PROBE_STOW]
description: Påminn om att ta av proben
gcode:
    RESPOND MSG="✅ Ta av Euclid Probe och tryck Resume"
    PAUSE

[gcode_macro BED_LEVEL]
description: Nivellering med manuell probe
gcode:
    G28 X Y
    PROBE_DEPLOY
    G28 Z
    BED_MESH_CALIBRATE
    PROBE_STOW
    G28 Z